@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <script src="~/Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <div >
        <div style="float:left;height:768px">
            @Html.Sitecore().Rendering("/sitecore/layout/Renderings/NavigationMenu", new { DataSource="/sitecore/content/home" })
        </div>
        <h1>@Html.Sitecore().Field("title")</h1>
        <div style="height:768px">
            @Html.Sitecore().Placeholder("main")
        </div>
        <div style="clear:both">
            @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Footer")
        </div>
    </div>
</body>
</html>